@import '../mixin.scss';

.collapse {
    width: 38%;
    position: relative;

    &__btn {
        width: 100%;
        height: 50px;
        background-color: $primarycolor;
        color: white;
        border: none;
        border-radius: 10px;
        text-align: left;
        @include Montserrat-500;
        font-size: 18px;
    }

    &__arrow {
        position: absolute;
        right: 5%;
        top: 18px;
        transition: 0.2s ease-in;
        transform: rotate(0.5turn);
        cursor: pointer;

        &--open {
            position: absolute;
            right: 5%;
            top: 18px;
            transition: 0.2s ease-in;
            cursor: pointer;
        }
    }

    &__content {
        overflow: hidden;
        transition: 0.2s ease-in;
        color: $primarycolor;

        &--open {
            background-color: #F6F6F6;
            color: $primarycolor;
            width: 100%;
            @include Montserrat-500;
            font-size: 16px;
            border-radius: 5px;
            transition: 0.2s ease-in;
            text-align: left;
            padding: 20px 0;
        }
    }
}