@import '../mixin.scss';


.desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin: auto
}

.titletags {


    &__title {
        @include Montserrat-500;
        font-size: 36px;
        color: $primarycolor;
        margin-bottom: 0;
    }

    &__location {
        @include Montserrat-500;
        font-size: 18px;
        color: $primarycolor;
        margin: 5px 0;
    }

    &__tags {
        display: flex;
        flex-direction: row;
        gap: 10px;

        &__tag {
            padding: 5px 20px;
            background-color: $primarycolor;
            color: white;
            @include Montserrat-500;
            font-size: 14px;
            border-radius: 20px;
            text-align: center;
        }
    }
}


.hostrating {


    &__host {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 0;
        gap: 10px;

        &__name {
            @include Montserrat-500;
            color: $primarycolor;
            font-size: 18px;
            width: 100px;
            text-align: center;
        }

        &__img {
            height: 64px;
            width: 64px;
            border-radius: 50px;
        }
    }
}