@import '../mixin.scss';

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 42px;

    &__title {
        @include Montserrat-700;
        font-size: 288px;
        margin: 0;
        color: $primarycolor;
    }

    &__txt {
        @include Montserrat-500;
        color: $primarycolor;
        font-size: 36px;
    }

    &__link {
        @include Montserrat-500;
        color: $primarycolor;
        font-size: 18px;
    }
}