@import '../mixin.scss';

.footer {
    background-color: black;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__txt {
        color: white;
        @include Montserrat-500;
        font-size: 24px;
        position: relative;
        top: 30px;
    }

    &__img {    
        position: relative;
        top: 25px;
    }
}

@media (max-width: 768px) {
    .footer {
        &__txt {
            width: 195px;
        }
    }
}