@import '../mixin.scss';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 100px;

    &__navbar {
        display: flex;
        gap: 50px;
       

        &__link {
            @include Montserrat-500;
            font-size: 24px;
            color: $primarycolor;
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
            }
        }

        
    }
}